.cart {

    &__wrapper {
        padding-bottom: 80px;
    }

    &__footer {
        background-color: #0C0D14;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        color: #fff;
    }

    &__footer-inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__total {
        font-size: 21px;
    }
    &__checkout {
        padding: 15px 40px;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #fff;
        color: #222;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
    }

    &__checkout:active {
        box-shadow: 0 0 2pt 1pt#fff;
    }
}