.header {
    background-color: #0C0D14;
    color: #fff;

    &__inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__logo {
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 5px;

        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__logo-icon {
        transform: translateY(2px);
    }

    &__wishList {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__cart {
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__buttons {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}