*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

ul[class] {
  list-style: none;
}

p[class] {
  margin: 0;
}