.loader {
	position: relative;
	width: 0;
	padding: 50px; 
	background:
	 linear-gradient(rgba(0,0,0,1) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.4) 70%),
	 linear-gradient(to left, rgba(0,0,0,.2) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.8) 70%);
	background-repeat: no-repeat;
	background-size: 10% 100%, 100% 10%;
	background-position: 50% 0%, 0 50%;
	-webkit-animation: loading .7s infinite steps(8);
	animation: loading .7s infinite steps(8);

	&__wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image:
			linear-gradient(rgba(0,0,0,.1) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.5) 70%),
			linear-gradient(to left, rgba(0,0,0,.3) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.9) 70%);
		background-repeat: no-repeat;
		background-size: 10% 100%, 100% 10%;
		background-position: 50% 0%, 0 50%;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

@-webkit-keyframes loading {
	100% {
		-webkit-transform: rotate(1turn);
	}
}

@keyframes loading {
	100% {
		transform: rotate(1turn);
	}
}