.added-card {
    height: 100px;
    display: flex;
    border: 1px solid  rgba(0,0,0,.075);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-top: 10px;


    &__img-wrapper {
        width: 100px;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

    }

    &__top-block, &__bottom-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
    }

    &__author {
        font-weight: 500;
    }

    &__rm {
        cursor: pointer;
    }

    &__artNum {
        font-weight: 300;
    }

    &__price {
        font-size: 25px;
        font-weight: 700;
    }

}